.imageUpload {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
  top: 2px;
  right: 49px;

  &__input {
    display: none;
  }

  &__btn {
    @include reset-btn-style;
    width: 17px;
    height: 17px;
    color: lightgray;
    
    .fa-image {
      font-size: 17px;
    }
    
    &:hover {
      color: $blue;
    }
  }

  &__fileName--mobile,
  &__fileName {
    position: relative;
    margin-right: 5px;
    font-size: 11px;
    font-style: italic;
    color: $black;
    transition:all .3s ease-in;
    cursor: zoom-in;
    
    img {
      display: none;
    }

    &:hover img {
      display: flex;
      position: absolute;
      bottom: 32px;
      right: 10px;
      max-width: 200px;
      max-height: 200px;
      border: 3px solid white;
      box-shadow: 0px 0px 8px rgba(0,0,0,.3);
      border-radius: 10px;
    }
  }

  &__fileName--mobile {
    display: none;
  }

  &__btn--cancel {
    @include reset-btn-style;
    width: 40px;
    height: 16px;
    color: #ef5d5d;
    font-size: 10px;
    font-style: italic;
    
    &:hover {
      color: #ce0909;
    }
  }
}