@import 'reset.scss';
@import 'base.scss';

.app {
  width: 100%;
  height: 100%;
}

.login-page {
  @include flex-column-center;
}

.login-header {
  @include flex-column;
}

.konnect-title {
  margin-top: 1em;
  font-size: 4em;
  margin-bottom: 20px;
  color: $blue;
}

.login-btns {
  display: flex;
  justify-content: center;
  
  button.login-btn-on {
    &:hover {
      background-color: rgb(57, 115, 213);
    }
  }
  
  button.login-btn-off {
    background-color: lightgray;
    border: 1px solid lightgray;
    color: white;
    
    &:hover {
      background-color: rgb(57, 115, 213);
    }
  }
}

.login-form {
  @include flex-column-center;
  margin-top: 1.5em;
}

.login-error {
  color: $red;
  font-size: 1em;
  line-height: 30px;
  height: 30px;
  font-weight: 300;
}

button.enter {
  margin-top: 1.5em;
  &:hover {
    background-color: $mintGreen;
    color: $blue;
  }
}

button.guest {
  margin-top: 1.5em;
  background-color: $mintGreen;
  color: gray;
  width: 116px;
  font-size: 0.9em;
  
  &:hover {
    color: $mintGreen;
    background-color: $black;
  }
}

input.login {
  width: 7em;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
  line-height: 30px;
  font-size: 2em;
  text-align: center;
  border-bottom: solid 2px $lightgray;
  transition:all .3s ease-in;
  padding: 10px;
  color: $black;
  background-color: transparent;
  &:focus{
    border-bottom: solid 1px $blue;
    outline: none;
  }
  &::placeholder {
    font-style: italic;
    color: $placeholdergray;
    margin-bottom: 5px;
  }
}

.chatroom {
  @include flex-column-center-center;
  background: floralwhite;
}

.chatroom-header {
  @include flex-column-center-center;
}

.chatroom-title {
  font-size: 4em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $blue;
}

.current-users {
  color: #928c8c;
  font-style: italic;
  margin-bottom: 3em;
}

.notice {
  background: $noticegreen;
  width: 641px;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 112px;
  animation: fade 3.5s;
  opacity: 0;
  z-index: 2;
  color: white;
  font-weight: bold;
}

@keyframes fade {
  0% { opacity: 1 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}

.chat-window {
  display: flex;
  border: 1px solid $bordergray;
  width: 650px;
  height: 450px;
  margin: 0 50px 50px 50px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0,0,0,.2);
}

.chat-left-bar {
  border-right: 1px solid $bordergray;
  width: 150px;
}

.users-list {
  height: 359px;
  overflow: scroll;
  margin-bottom: 2em;
  
  &-title {
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid $bordergray;
    border-top: 1px solid $bordergray;
    margin-top: 1em;
  }
}

.each-user {
  @include flex-center;
  
  &:nth-child(odd) {
    background-color: rgb(244, 245, 247);
  }
}

.online-users {
  text-align: center;
  padding: 3px 0;
  font-family: 'Fredoka One', sans-serif;
  color: #3adcb3;
  margin-bottom: 3px;
}

img.online-inactive,
img.online-active {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-left: 10px;
  filter: brightness(1.2);
}

img.online-inactive {
  filter: brightness(0.5);
}

.each-user-name-inactive,
.each-user-name-active {
  margin: 11px 9px;
}

.each-user-name-inactive {
  font-style: italic;
}

.missed-msg-btns {
  display: flex;
  position: relative;
  margin: 10px 0;
}

button.logout {
  width: 3em;
  height: 2.9em;
  line-height: 0;
  padding: 0;
  background-color: gray;
  margin: 0;
  
  &:hover {
    background: $red;
  }
}

button.back-btn,
button.unread-btn {
  width: 7em;
  height: 2.9em;
  line-height: 0;
  padding-right: 35px;
  margin: 0;
}

button.unread-btn {
  &:hover {
    background-color: $mintGreen;
  }
}

.missed-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: red;
  border: 1px solid red;
  border-radius: 100px;
  height: 17px;
  width: 17px;
  color: white;
  text-align: center;
  padding: 2px;
  cursor: pointer;
}

button.back-btn {
  background-color: $mintGreen;
  color: white;
  
  .fas.fa-undo-alt.fa-2x {
    margin-left: 16px;
  }
  
  &:hover {
    background-color: black;
    color: $mintGreen;
  }
}

.no-new-msg {
  height: 200px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: gray;
}

.messages-section {
  height: 100%;
  @include flex-column-end;
}

.message-form {
  border-top: 1px solid $bordergray;
  padding: 0px 10px 10px 10px;
}

input#message {
  width: 400px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  border: solid 1px white;
  transition:all .2s ease-in;
  padding: 10px;
  color: rgb(72, 72, 72);
  background-color: $messagebackground;
  border-radius: 15px;
  &:focus{
    border: solid 1px $borderblue;
    outline: none;
    background-color: white;
  }
  &::placeholder {
    font-style: italic;
    color: darkgray;
    margin-bottom: 5px;
  }
}

.text-character-count {
  position: absolute;
  right: 62px;
  bottom: 3px;
  text-align: center;
  font-size: 11px;
  width: 30px;
  padding: 2px;
  color: $black;
}

.display-typing {
  height: 18px;
  line-height: 18px;
  font-size: 13px;
  font-style: italic;
  color: gray;
}

.messages-list {
  margin: 10px 10px 2px 10px;
  overflow: scroll;
}

.message-input {
  @include flex-column;
  margin-bottom: 10px;
}

.timestamp-user-row {
  @include flex-center-center;
}

.message-text {
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 0.95em;
  font-weight: 300;
}

.current-user {
  &.message-input {
    align-items: flex-end;
  }
  
  &.timestamp-user-row {
     flex-direction: row-reverse;
  }
  
  &.message-text {
    background-color: #FFFF00;
  }
}

.other-user {
  &.message-input {
    align-items: flex-start;
  }
  
  &.message-text {
    background-color: #00b0ff;
    color: white;
    font-weight: 400;
  }
}

.thread-username {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 1px;
  color: $black;
}

.thread-timestamp {
  color: gray;
  font-size: 11px;
  font-weight: 300;
  margin: 0 7px;
}

.message-input-button-wrapper {
  @include flex-space-between-center;
  position: relative;
}

button.send {
  height: 53px;
  width: 53px;
  background-color: $blue;
  border: solid 1px white;
  font-size: 12px;
  transition:all .3s ease-in;
  border-radius: 0;
  margin: 0;
  line-height: 0;
  padding: 0;
  border-radius: 15px;
  margin-left: 4px;

  &:focus {
    outline: none;
  }
  
  &:disabled {
    background-color: lightgray;
    color: gray;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons > a {
  margin: 0 2px;
  color: rgb(72, 72, 72);
  
  &:hover {
    color: red;
  }
}

@import 'mobile.scss';