.mic {
  position: absolute;
  z-index: 1;
  top: 61px;
  right: 483px;

  &__btn {
    @include reset-btn-style;
    width: 17px;
    height: 17px;
    color: lightgray;
    
    .fa-microphone-alt {
      font-size: 17px;
    }
    
    &:hover {
      color: $blue;
    }
  }
}

.voice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 150px;
  background: rgba(0,0,0,.2);
  transition: opacity .5s ease;
  overflow: hidden;
  opacity: 1;
  top: 0;
  bottom: 0;
  border-radius: 10px;

  &__transcriptText {
    font-size: 20px;
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 300px;
    height: 30px;
    background: white;
  }
  
  &__btns {
    display: flex;
    margin-top: 20px;
  }
  
  &__btn--reset,
  &__btn--send {
    width: 5em;
  }
}