.mic {
  position: absolute;
  z-index: 1;
  top: 61px;
  right: 483px;

  &__btn {
    @include reset-btn-style;
    width: 17px;
    height: 17px;
    color: lightgray;
    
    .fa-microphone-alt {
      font-size: 17px;
    }
    
    &:hover {
      color: $blue;
    }
  }
  
  &__voice--modal {
    position: absolute;
    z-index: 5;
    width: 400px;
    height: 150px;
    background: rgba(0,0,0,.2);
    transition: opacity .5s ease;
    overflow: hidden;
    opacity: 1;
    bottom: 100px;
    border-radius: 10px;
  }

  &__x {
    @include reset-btn-style;
    position: absolute;
    top: 7px;
    right: 8px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: $red;
    
    &:hover {
      color: black;
    }
  }
}

.voice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__transcriptText {
    font-size: 15px;
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 350px;
    max-width: 350px;
    height: 66px;
    background: white;
    overflow-wrap: break-word;
    overflow-y: scroll;
  }
  
  &__btns {
    display: flex;
  }

  &__btn--clear,
  &__btn--send {
    width: 5em;
    padding: 0;
    line-height: 0;
    height: 1.5em;
    border: none;
    margin-top: 5px;
    &:hover {
      color: $red;
      background: white;
    }
  }
  
  &__btn--send {
    &:hover {
      background: black;
      color: $mintGreen;
    }
    
    &:disabled {
      background-color: black;
      color: gray;
    }
  }
  
  &__title {
    display: flex;
    align-items: center;
    color: white;
    margin: 10px 0;
    font-weight: bold;
    font-size: 19px;
    
    img {
      height: 30px;
      width: 30px;
      margin-left: 20px;
    }
  }
}
