.mic {
  position: absolute;
  z-index: 1;
  top: 61px;
  right: 483px;

  &__btn {
    @include reset-btn-style;
    width: 17px;
    height: 17px;
    color: lightgray;
    
    .fa-microphone-alt {
      font-size: 17px;
    }
    
    &:hover {
      color: $blue;
    }
  }

  &__x {
    @include reset-btn-style;
    position: absolute;
    bottom: 107px;
    left: 300px;
  }
  
  &__voice--modal {
    position: absolute;
    z-index: 5;
    width: 400px;
    height: 150px;
    background: rgba(0,0,0,.2);
    transition: opacity .5s ease;
    overflow: hidden;
    opacity: 1;
    bottom: 100px;
    border-radius: 10px;
  }
}

.voice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__transcriptText {
    font-size: 20px;
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 300px;
    height: 30px;
    background: white;
  }
  
  &__btns {
    display: flex;
    margin-top: 20px;
  }
  
  &__btn--reset,
  &__btn--send {
    width: 5em;
  }
  
  &__title {
    color: white;
    margin-bottom: 10px;
  }
}