.mic {
  position: absolute;
  z-index: 1;
  top: 61px;
  right: 483px;

  &__btn {
    @include reset-btn-style;
    width: 17px;
    height: 17px;
    color: lightgray;
    
    .fa-microphone-alt {
      font-size: 17px;
    }
    
    &:hover {
      color: $blue;
    }
  }
}