@media screen and (max-width: 630px) {
  .konnect-title {
    font-size: 3em;
    text-align: center;
  }
  
  .chat-window {
    width: 350px;
  }
  
  .chat-left-bar {
    width: 100px;
  }
    
  button.send {
    height: 53px;
    width: 53px;
    font-size: 10px;
    margin-left: 4px;
  }
  
  .notice {
    width: 340px;
  }
  
  input#message {
    width: 157px;
  }
  
  .messages-list {
    width: 217px;
  }
  
  .users-list {
    height: 339px;
  }
  
  button.back-btn {
    width: 5em;
    height: 2.9em;
    line-height: 0;
    margin: 0;
  }
  
  .chatroom-title {
    font-size: 2.4em;
  }
}