.privateLock {
  @include flex-column-center;
  width: 100%;

  &__btn {
    @include reset-btn-style;
    width: 17px;
    height: 17px;
    color: $bordergray;
    margin: 1em auto;

    .fa-lock {
      font-size: 15px;
    }

    &:hover {
      color: $mintGreen;    
    }
  }

  &__passwordInput {
    @include flex-column-center-center;
    position: fixed;
    z-index: 5;
    width: 100%;
    background: rgba(0,0,0,.7);
    transition: opacity .5s ease;
    overflow: hidden;
    opacity: 1;
    top: 0;
    bottom: 0;

    input {
      width: 7em;
      border-top: none;
      border-left: none;
      border-right: none;
      height: 30px;
      line-height: 30px;
      font-size: 2em;
      text-align: center;
      border-bottom: solid 2px $lightgray;
      transition:all .3s ease-in;
      padding: 10px;
      color: white;
      background-color: transparent;
      
      &:focus{
        border-bottom: solid 1px $blue;
        outline: none;
      }
      
      &::placeholder {
        font-style: italic;
        color: $placeholdergray;
        margin-bottom: 5px;
      }
    }
    
    button {
      @include reset-btn-style;
      width: 0;  
    }
  }
  
  &__passwordInput--field {
    @include flex-center-center;
  }
}

.private__btn--enter {
  color: lightgray;
  margin-left: 10px;

  &:hover {
    color: $blue;
  }
}

.private__btn--exit {
  bottom: 0;
  color: #e6ecf063;
  font-size: 20px;
  margin-right: 3px;
  
  &:hover {
    color: $red;
  }
}

.comingsoon {
  margin: auto;
  font-size: 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 100px;
}

.login-error--private {
  color: #fd9696;
  font-size: 1em;
  line-height: 30px;
  height: 30px;
  font-weight: 300;
  text-align: center;
}