.privateLock {
  @include flex-column-center;
  width: 100%;

  &__btn {
    @include reset-btn-style;
    width: 17px;
    height: 17px;
    color: $bordergray;
    margin: 1em auto;

    .fa-lock {
      font-size: 15px;
    }

    &:hover {
      color: $mintGreen;    
    }
  }

  &__passwordInput {
    @include flex-column-center-center;
    position: fixed;
    z-index: 5;
    width: 100%;
    background: rgba(0,0,0,.7);
    transition: opacity .5s ease;
    overflow: hidden;
    opacity: 1;
    top: 0;
    bottom: 0;

    input {
      width: 7em;
      border-top: none;
      border-left: none;
      border-right: none;
      height: 30px;
      line-height: 30px;
      font-size: 2em;
      text-align: center;
      border-bottom: solid 2px $lightgray;
      transition:all .3s ease-in;
      padding: 10px;
      color: white;
      background-color: transparent;
      
      &:focus{
        border-bottom: solid 1px $blue;
        outline: none;
      }
      
      &::placeholder {
        font-style: italic;
        color: $placeholdergray;
        margin-bottom: 5px;
      }
    }
    
    button {
      @include reset-btn-style;
      width: 0;  
    }
  }
  
  &__passwordInput--field {
    @include flex-center-center;
  }
  
  &__footer {
    @include flex-center-center;
  }
  
  &__footer--on {
    margin: 0 4em;
    font-size: 12px;
    color: #fff;
    text-shadow:
      0 0 6px rgba(213, 202, 228, 0.92),
      0 0 30px rgba(213, 202, 228, 0.34),
      0 0 12px rgba(137, 30, 242, 0.52),
      0 0 21px rgba(137, 30, 242, 0.92),
      0 0 34px rgba(127, 30, 242, 0.78),
      0 0 54px rgba(117, 30, 242, 0.92);
  }
  
  .fa-user-secret {
    margin: 0 2px;
  }
}

.private__btn--enter {
  color: lightgray;
  margin-left: 10px;

  &:hover {
    color: $blue;
  }
}

.private__btn--exit {
  bottom: 0;
  color: #e6ecf063;
  font-size: 20px;
  margin-right: 3px;
  
  &:hover {
    color: $red;
  }
}

.comingsoon {
  margin: auto;
  font-size: 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 100px;
}

.login-error--private {
  color: #fd9696;
  font-size: 1em;
  line-height: 30px;
  height: 30px;
  font-weight: 300;
  text-align: center;
}

.messages-section-private {
  height: 100%;
  @include flex-column-end;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}