html, body, section, article, h1, h2, p, span, label {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  width: inherit;
  height: inherit;
}

ul, li {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: floralwhite;
}

button {
  font-size: 1em;
  transition:all .1s ease-in;
  cursor: pointer;
  height: 2.5em;
  width: 10em;
  background-color: #4080ff;
  border: solid 1px white;
  color: white;
  border-radius: 100px;
  box-shadow: none;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  padding: 6px 16px;
  margin: 0 1em;
  white-space: nowrap;
  
  &:focus {
    outline: none;
  }
}

input[type="radio"] {
  visibility: hidden;
  position: absolute;
}